[user]
	email = ppuubblliicc@protonmail.com
	name = 1noro
#	email = arodriguezg@fpcoruna.afundacion.org
#	name = Alfredo
#	name = alfredo.rodriguez
	signingkey = 224E59DC1CF60B98
[commit]
	gpgsign = true
[pull]
	rebase = false
[core]
	editor = nano
