[Desktop Entry]
Type=Application
Version=0.16.3
Name=Litecoin Core
Comment=...
Path=/opt/litecoin/bin/
Exec=/opt/litecoin/bin/litecoin-qt
Icon=litecoin
Terminal=false
Name[gl_ES]=Litecoin Core
